{% extends 'base.html'%}
{%block title%}Lista de Libros{%endblock%}
{%block content_title%}
Lista de Libros
{%endblock%}

{%block extrascript%}
<script src='/static/js/acta.js'></script>

{%endblock%}
{%block content%}


<table id='id_table_libro' class='table table-bordered table-striped'>
	<thead>
		<tr class='alert alert-info'>
			<th>Numero de Libro</th>
			<th>Tipo</th>
			<th>Fecha de Apertura</th>
			<th>Fecha Cierre</th>
			<th>Estado</th>
		</tr>
		
	</thead>
	<tbody>
		{% for o in object_list %}
		<tr >
			<td><a href="{%url 'libro_update' pk=o.id%}">{{o.numero_libro}}</a></td>
			<td >{{o.tipo_libro}}</td>
			<td id='id_fecha_apertura'>{{o.fecha_apertura}}</td>
			<td id='id_fecha_cierre'>{{o.fecha_cierre}}</td>
			<td>{{o.estado}}</td>
			
		</tr>
		{% endfor %}
	</tbody>

</table>

<a href="{% url 'libro_create' %}" class='btn btn-primary'>Nuevo Libro</a>

<div class="pagination">
	<ul>

		{% if page_obj.has_previous %}
		<li><a href="?page={{page_obj.previous_page_number }}">Anterior</a>
			{% endif %}
		</li>

		{%for p in lista%}
		<li><a href="?page={{p}}">{{p}}</a></li>
		{%endfor%}

		<li>
			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
			{% endif %}
		</li>
	</ul>
</div>

{%endblock%}