{% extends 'base.html'%}

{%block extrascript%}
<script src='/static/js/acta.js'></script>

{%endblock%}


{%block title%}Actas Matrimoniales{%endblock%}


{%block content%}


<table id='id_table_matrimonio' class='table table-bordered table-striped'>
	<thead>
		<tr class='alert alert-info'>
			
			<th>Acta</th>
			<th>Novio</th>
			<th>Novia</th>
			<th>Fecha Sacramento</th>
			<th>Testigo</th>
			<th>Testiga</th>
			<th>Papa Novio</th>
			<th>Papa Novia</th>
			
		</tr>
		
	</thead>
	<tbody>
		{% for o in object_list %}
		<tr>
			<td><a href="{%url 'matrimonio_update' pk=o.id%}"> {{o.pagina}}</a></td>
			<td>{{o.novio.user.first_name}} {{o.novio.user.last_name}}</td>
			<td>{{o.novia.user.first_name}} {{o.novia.user.last_name}}</td>
			<td id='id_fecha_sacramento'>{{o.fecha_sacramento}}</td>
			<td>{{o.testigo_novio}}</td>
			<td>{{o.testigo_novia}}</td>
			<td>{{o.novio.padre.first_name}} {{o.novio.padre.last_name}}</td>
			<td>{{o.novia.padre.first_name}} {{o.novia.padre.last_name}}</td>
		</tr>
		{% endfor %}
	</tbody>

</table>

<a href="{% url 'matrimonio_create' %}" class='btn btn-primary'>Nueva Acta Matrimonial</a>

<div class="pagination">
	<ul>

		{% if page_obj.has_previous %}
		<li><a href="?page={{page_obj.previous_page_number }}">Anterior</a>
			{% endif %}
		</li>

		{%for p in lista%}
		<li><a href="?page={{p}}">{{p}}</a></li>
		{%endfor%}

		<li>
			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
			{% endif %}
		</li>
	</ul>
</div>

{%endblock%}