{%extends 'base.html'%}

{%load tags%}

{%block title%}Agregar Matrimonios{%endblock%}

{%block content%}


<!-- Div para manejar mensajes de error -->
<div id="id_mensaje">
	
</div>


<!-- Pestañas para datos del feligres, y del bautizo -->


<ul class='nav nav-tabs'>
	<li class='active'><a href="#id_datos_novio" data-toggle='tab'>Novio</a></li>
	<li ><a href="#id_datos_novia" data-toggle='tab'>Novia</a></li>
	<li><a href="#id_datos_matrimonio" data-toggle='tab'>Datos del Sacramento</a></li>

</ul>

<div class="tab-content">
	<div id='id_datos_novio' class='tab-pane active'>
		<form id='id_form_novio' class='form-horizontal'>
			{%feligres%}
		</form>
	</div>


	<div id='id_datos_novia' class='tab-pane'>
		<form id='id_form_novia' class='form-horizontal'>
			{%feligres%}
		</form>
	</div>


	<div id="id_datos_matrimonio" class="tab-pane">
		<form id='id_form_matrimonio' action="." method='POST' class='form-horizontal'>
			{% csrf_token%}
			<div class='container'>
				<div class='row'>
					<div class='span6'>
						<div class='control-group'>
							<label for="id_pagina" class='control-label'>{{form.pagina.label}}</label>
							<div class='controls'>
								{{form.pagina}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_numero_acta" class='control-label'>{{form.numero_acta.label}}</label>
							<div class='controls'>
								{{form.numero_acta}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_tipo_sacramento" class='control-label'>{{form.tipo_sacramento.label}}</label>
							<div class='controls'>
								{{form.tipo_sacramento}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_fecha_sacramento" class='control-label'>{{form.fecha_sacramento.label}}</label>
							<div class='controls'>
								{{form.fecha_sacramento}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_lugar_sacramento" class='control-label'>{{form.lugar_sacramento.label}}</label>
							<div class='controls'>
								{{form.lugar_sacramento}}
							</div>
						</div>
						
						
						
					</div>
					<div class='span6'>
						<div class='control-group'>
							<label for="id_padrino" class='control-label'>{{form.padrino.label}}</label>
							<div class='controls'>
								{{form.padrino}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_madrina" class='control-label'>{{form.madrina.label}}</label>
							<div class='controls'>
								{{form.madrina}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_testigo_novio" class='control-label'>{{form.testigo_novio.label}}</label>
							<div class='controls'>
								{{form.testigo_novio}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_testigo_novia" class='control-label'>{{form.testigo_novia.label}}</label>
							<div class='controls'>
								{{form.testigo_novia}}
							</div>
						</div>
							
						<div class='control-group'>
							<label for="id_iglesia" class='control-label'>{{form.iglesia.label}}</label>
							<div class='controls'>
								{{form.iglesia}}
							</div>
						</div>
				
				
				</div>
				
			
	
			</div>
		</div>
		
	
	<div class="form-actions">
		<input type="submit" value="Enviar" class='btn btn-primary'/>
		<a href="{%url 'matrimonio_list'%}" class='btn btn-primary'>Cancelar</a>
	</div>

</form>
</div>

	

	

<!-- MODAL DE BUSQUEDA-->

<!-- Modal para indicar que un usuario ha sid creado-->

{%include 'modal.html'%}
{% endblock%}