{% extends 'base.html'%}

{%block title%}Lista de Matrimonios {%endblock%}
{%block content_title%}
Lista de Matrimonios
{%endblock%}

{%block extrascript%}
<script src='/static/js/acta.js'></script>
<script>
$(document).ready(function(){
	$('.id_delete').click(function(){
		var e=$(this).attr('name');

		$.get('/matrimonio/ajax',function(data){
			console.log(data.list_matrimonios);
			var lista = data.list_matrimonios;
			$.each(lista, function(indice, elemento){
				var id = elemento.id;
				if(id == e){
					$('#id_novio').html('<p>'+elemento.novio+'</p>');
					$('#id_novia').html('<p>'+elemento.novia+'</p>');
					$('#id_eliminar').attr('href','/matrimonio/'+e+'/vigencia');
				}
			});

		});
	});		

});
</script>
</script>

{%endblock%}
{%block content%}


<table id='id_table_matrimonio' class='table table-bordered table-striped'>
	<thead>
		<tr class='alert alert-info'>
			
			<th>Acta</th>
			<th>Novio</th>
			<th>Novia</th>
			<th>Fecha Sacramento</th>
			<th>Testigo</th>
			<th>Testiga</th>
			{%for o in object_list%}
			{%if o.vigente%}
			<th>Acciones</th>
			
			{%endif%}
			{%endfor%}
			
			
		</tr>
		
	</thead>
	<tbody>
		{% for o in object_list %}
		<tr>
			<td><a href="{%url 'matrimonio_update' pk=o.id%}"> {{o.numero_acta}}</a></td>
			<td>{{o.novio.user.first_name}} {{o.novio.user.last_name}}</td>
			<td>{{o.novia.user.first_name}} {{o.novia.user.last_name}}</td>
			<td id='id_fecha_sacramento'>{{o.fecha_sacramento}}</td>
			<td>{{o.testigo_novio}}</td>
			<td>{{o.testigo_novia}}</td>
			{%if o.vigente%}
					
			<td><a class='id_delete' href="#id_vigencia" role="button" data-toggle="modal" name='{{o.id}}'>Quitar Vigencia</a>
			</td>
			{%endif%}
			
			
		</tr>
		{% endfor %}
	</tbody>

</table>

<a href="{% url 'matrimonio_create' %}" class='btn btn-primary'>Nueva Acta Matrimonial</a>

<!-- Modal para quitar la vigencia de un matrimonio-->
<div  id="id_vigencia" class="modal hide fade"  tabindex="5">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Eliminar Vigencia del Matrimonio</h3>
	</div>
	<div class="modal-body">
		<p>Está seguro de querer eliminar la vigencia del matrimonio de:</p>
		<h5 id='id_novio'></h4> con 
		<h5 id='id_novia'></h4> 
	</div>
	<div class="modal-footer">
		<a href="." class="btn">Cancelar</a>
		<a id='id_eliminar' href="." class="btn btn-danger">Eliminar</a>
	</div>
</div>


{%endblock%}