<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head> 
<style>
@page {
	margin-bottom: 2.5cm;
	size: a4; 
	margin: 3cm 3cm 3cm 3cm;
	 @frame footer {
		-pdf-frame-content: pagina;
		bottom: 2cm;
		margin-left: 1cm;
		margin-right: 1cm;
		height: 1cm;
	}
	}
    body {
		font-family: Helvetica, Arial, Sans;
		font-size: 14px;
    }
    #id_direccion{
    	font-size: 10px;
    }
	

</style>   
<body>
	<center>
		
		<h1> 
			{{ "Diocesis de Loja"|upper }}  <br/>
			Parroquia Eclesiastica {{matrimonio.parroquia|upper}} <br/>
			{{"Loja - Ecuador" | upper}}
			<div id='id_direccion'>{{"Direccion: "}}{{ matrimonio.parroquia.direccion }} {{"Tel: "}}{{matrimonio.parroquia.direccion.telefono}}<br/><br/></div>
			{{"Partida de Matrimonio"|upper}}<p/></h4></center></h1>
			<h2> <p>El suscrito Párroco de {{matrimonio.parroquia|upper}} CERTIFICA:</h2>
			Que en el libro: {{ matrimonio.libro.numero_libro}}, pagina: {{ matrimonio.pagina}} y con el numero: {{ matrimonio.numero_acta }} </br>
			se encuentra la Partida Matrimonial de: {{ matrimonio.novio}} <br/>
			con: {{ matrimonio.novia}}<br/>
			Presenció el Matrimonio canónico: {{matrimonio.celebrante}}<br/>
			realizado el: {{matrimonio.fecha_sacramento}}<br/><br/>
			Datos fidedignos tomados del archivo parroquial<br/><br/>






			Loja, {%now "d"%} de {%now "F"%} del {%now "Y"%}<br/><br/><br/>
			

			P.{{cura}}<br/><br/><br/><br/><br/><br/><br/>

			Observaciones:<br/>

			{%for n in notas%}
			{{n.fecha|date:"SHORT_DATE_FORMAT"}}{{": "}}{{n.descripcion}}<br/>
			{%endfor%}



			<div id="pagina">
				Pagina Nro: <pdf:pagenumber>
			</div>


</body>
</html>