<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head> 
<style>
@page {
	margin-bottom: 2.5cm;
	size: a4; 
	margin: 3cm 3cm 3cm 3cm;
	@frame footer {
		-pdf-frame-content: footer;
		bottom: 0cm;
		margin-left: 3cm;
		margin-right: 3cm;
		height: 3cm;
	}
}
body {
	font-family: Helvetica, Arial, Sans;
	font-size: 14px;
}
#id_direccion{
	font-size: 10px;
}


</style>   
<body>
	<center>
		
		<h1> 
			{{ "Diocesis de Loja"|upper }}  <br/>
			Parroquia Eclesiastica {{matrimonio.parroquia|upper}} <br/>
			{{"Loja - Ecuador" | upper}}
			<div id='id_direccion'>{{"Direccion: "}}{{ matrimonio.parroquia.direccion }} {{"Tel: "}}{{matrimonio.parroquia.direccion.telefono}}<br/><br/></div>
			{{"Partida de Matrimonio"|upper}}<p/></h4></center></h1>
			<h2> <p>El suscrito Párroco de <strong>{{matrimonio.parroquia|upper}}</strong> CERTIFICA:</h2>
			Que en el libro: <strong>{{ matrimonio.libro.numero_libro}}</strong>, pagina: <strong>{{ matrimonio.pagina}}</strong> y con el numero: <strong>{{ matrimonio.numero_acta }}</strong> </br>
			se encuentra la Partida Matrimonial de: <strong>{{ matrimonio.novio}}</strong> <br/>
			con: <strong>{{ matrimonio.novia}}</strong><br/>
			Presenció el Matrimonio canónico: <strong>{{matrimonio.celebrante}}</strong><br/>
			realizado el: <strong>{{matrimonio.fecha_sacramento}}</strong><br/><br/>
			Datos fidedignos tomados del archivo parroquial<br/><br/>






			<strong>Loja, {%now "d"%} de {%now "F"%} del {%now "Y"%}</strong><br/><br/><br/><br/><br/>
			

			<table align='center'>
				<tbody>
					<tr>
						<td>
							<p align='center'>
								
								---------------------------------------------------<br/>
								<strong>P.{{cura}}</strong> 
							</p>
						</td>
						<td>
							<p align='center'>
								
								-----------------------------------------<br/>
								<strong>{{"SECRETARIO"}}</strong>
							</p>
							
							


							
						</td>
					</tr>


				</tbody>
			</table>

			Observaciones:<br/>

			{%for n in notas%}
			<strong>{{n.fecha|date:"SHORT_DATE_FORMAT"}}{{": "}}{{n.descripcion}}</strong><br/>
			{%endfor%}



			<div id="footer">
				<p>Sistema de Gestion Sacramental Ekkelsia - Reporte generado por:{{"Secretario/a"}}</p>
			</div>


		</body>
		</html>