body
{
	background: gray;
	font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
	/*font-size: 16px;*/
}
h1{
	font-family: 'Droid Serif',Helvetica,Arial,sans-serif;
}

h2{
	font-family: 'Viga', sans-serif;
}

.help-text {
	font-size: 9px;
	color: #808080;
}

/*fieldset.scheduler-border {
	border: 1px solid #DDD;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend.scheduler-border {
	font-size: 1.2em;
	font-weight: bold;
}*/


fieldset.scheduler-border {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;

}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: 1em;
    font-family: 'Viga', sans-serif;
}

ul {
	list-style-type: none !important;
}

div.errors {
	color: red;
}

#id_container{
	background: white;
	color = white;
	padding-top: 4em;
	/*margin-bottom: 10em;*/
}


#id_footer 
{
	background: rgb(22, 25, 225);
	color: rgb(225,225,225);
	font-size: 0.5em;
	height: 100px;
	margin-top: 3em; 
	padding: 3em;
	text-align: center;
}

#id_title
{
	/*background-color: #005ea2;*/
	background-image: url(../img/textura.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
	/*background-attachment: fixed;*/

	/*background-size: cover;*/
	-webkit-background-size: 100%;
	-moz-background-size: cover;
	-o-background-size: cover;

	font-family: 'Droid Serif',Helvetica,Arial,sans-serif;
	font-size: 1em;
	margin-bottom: 1em;
	max-height: 100%;
	max-width: 100%;
	padding-top: 2em;
	padding-bottom: 2em; 

}

.invalid
{
	color: red;
}



/*span.arrow {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	display: block;
	bottom: -7px;
	left: 20px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.typeahead_wrapper { display: block; height: 30px; }
.typeahead_photo { float: left; max-width: 30px; max-height: 30px; margin-right: 5px; }
.typeahead_labels { float: left; height: 30px; }
.typeahead_primary { font-weight: bold; }
.typeahead_secondary { font-size: .8em; margin-top: -5px; }*/



@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 1em;
		left: 8em;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Nombres"; }
	td:nth-of-type(2):before { content: "Apellidos"; }
	td:nth-of-type(3):before { content: "Dni"; }
	td:nth-of-type(4):before { content: "Fecha de Nacimiento"; }
	td:nth-of-type(5):before { content: "Papa"; }
	td:nth-of-type(6):before { content: "Mama"; }
	td:nth-of-type(7):before { content: "Acciones"; }
}