{% extends 'base.html'%}
{% block title%} Cantones {% endblock %}

{%block content%}

<table id='id_table_canton' class="table table-bordered table-striped">
	<thead>
		<tr class='alert alert-info'>
			<th>Nombre</th>
			<th>Abreviatura</th>
			<th>Acciones</th>
		</tr>
	</thead>

	<tbody>
		{% for o in object_list %}
		<tr>
			<td><a href="{{o.get_absolute_url}}">{{o.nombre}}</a></td>
			<td>{{o.abreviatura}}</td>
			<td><a href="{%url 'canton_delete' o.id %}">Eliminar</a></td>
		</tr>

		{%endfor%}
	</tbody>
</table>

<a href="{% url 'canton_create' %}" class='btn btn-primary'>Nuevo Canton</a>

{%endblock%}