{%if user.is_superuser%}
<div class="navbar navbar-inverse nav">
	<div class="navbar-inner" datato>
		<div class="container">
			{% if user.is_authenticated%}
			<ul class="nav">
				<li ><a  href="/home/"><i class="icon-home icon-white"></i> Inicio</a></li>
				<li class="divider-vertical"></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Personas<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'sacerdote_list'%}">Sacerdotes</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ciudades<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'provincia_list'%}">Provincias</a></li>
						<li><a href="{% url 'canton_list'%}">Cantones</a></li>
						<li><a href="{% url 'parroquiacivil_list'%}">Parroquias</a></li>
					</ul>
				</li>
				<li><a href="{%url 'parroquia_list'%}">Parroquias</a></li>
				<li><a href="{%url 'group_list'%}">Grupos y Permisos</a></li>
			</ul>
			{%endif%}
			<div class='pull-right'>
				<ul class="nav pull-right">
					{% if user.is_authenticated%}
					<li><a href="">{%if user.get_full_name%}{{ user.get_full_name }}{%else%}{{ user.username }}{%endif%}</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class='icon-gear'></i><b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{%url 'password_change'%}"><i class="icon-key"></i> Cambiar Clave</a></li>
							<li><a href="{%url 'logout'%}"><i class="icon-power-off"></i> Cerrar Sesión</a></li>
						</ul>
					</li>
					{%else%}
					<li><a href='/login/'>Iniciar Sesión</a></li>
					{%endif%}
				</ul>
			</div>
		</div>
	</div>
</div>

{%else%}

<div class="navbar navbar-inverse nav">
	<div class="navbar-inner" datato>
		<div class="container">
			{% if user.is_authenticated%}
			<ul class="nav">
				<li ><a  href="/home/"><i class="icon-home icon-white"></i> Inicio</a></li>
				<li class="divider-vertical"></li>
				<li><a href="{% url 'usuario_list'%}">Feligrés</a></li>
				<li><a href="{%url 'libro_list'%}">Libros</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sacramentos <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'bautismo_list'%}">Bautismo</a></li>
						<li><a href="{% url 'eucaristia_list'%}">Primera Comunión</a></li>
						<li><a href="{% url 'confirmacion_list'%}">Corfirmación</a></li>
						<li><a href="{% url 'matrimonio_list'%}">Matrimonio</a></li>
					</ul>
				</li>
				<li><a href="#">Agenda</a></li>
				<li><a href="{%url 'intencion_list'%}">Intenciones de Misa</a></li>
				<li><a href="#">Reportes</a></li>
			</ul>
			{%endif%}
			<div class='pull-right'>
				<ul class="nav pull-right">
					{% if user.is_authenticated%}
					<li><a href="">{%if user.get_full_name%}{{ user.get_full_name }}{%else%}{{ user.username }}{%endif%}</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class='icon-gear'></i><b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{%url 'password_change'%}"><i class="icon-key"></i> Cambiar Clave</a></li>
							<li><a href="{%url 'logout'%}"><i class="icon-power-off"></i> Cerrar Sesión</a></li>
						</ul>
					</li>
					{%else%}
					<li><a href='/login/'>Iniciar Sesión</a></li>
					{%endif%}
				</ul>
			</div>
		</div>
	</div>
</div>

{%endif%}