<div class="navbar navbar-inverse nav">
	<div class="navbar-inner" datato>
		<div class="container">
			{% if user.is_authenticated%}
			<ul class="nav">
				<li ><a  href="/home/"><i class="icon-home icon-white"></i> Inicio</a></li>
				<li class="divider-vertical"></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Personas<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'usuario_list'%}">Feligrés</a></li>
						<li><a href="#">Sacerdote</a></li>
					</ul>
				</li>
				<li><a href="{%url 'libro_list'%}">Libros</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sacramentos <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{% url 'bautismo_list'%}">Bautismo</a></li>
						<li><a href="{% url 'eucaristia_list'%}">Primera Comunión</a></li>
						<li><a href="{% url 'confirmacion_list'%}">Corfirmación</a></li>
						<li><a href="{% url 'matrimonio_list'%}">Matrimonio</a></li>
					</ul>
				</li>
				<li><a href="#">Agenda</a></li>
				<li><a href="#">Intenciones de Misa</a></li>
				<li><a href="#">Reportes</a></li>
			</ul>
			{%endif%}
			<div class='pull-right'>
				<ul class="nav pull-right">
					{% if user.is_authenticated%}

					<li><a href="">Bienvenido/a, {{ user.first_name }} {{ user.last_name }}.</a></li>
					<li><a href="{%url 'logout'%}">Cerrar Sesión</a></li>

					{%else%}
					<li><a href='/login/'>Iniciar Sesión</a></li>

					{%endif%}
				</ul>

			</div>

		</div>
	</div>
</div>