<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head> 
<style>
@page {
	margin-bottom: 2.5cm;
	size: a4; 
	margin: 3cm 3cm 3cm 3cm;
	@frame footer {
		-pdf-frame-content: pagina;
		bottom: 2cm;
		margin-left: 1cm;
		margin-right: 1cm;
		height: 1cm;
	}
}
body {
	font-family: Helvetica, Arial, Sans;
	font-size: 14px;
}


</style>    
<body>
	<center>
		
		<h1> 
			{{ "Diocesis de Loja"|upper }}  <br/>
			Parroquia Eclesiastica {{confirmacion.parroquia|upper}} <br/>
			{{"Loja - Ecuador" | upper}} <br/>

			{{"Direccion: "}}{{ confirmacion.parroquia.direccion }} {{"Tel: "}}{{confirmacion.parroquia.direccion.telefono}}<br/><br/>
			{{"Partida de Confirmación"|upper}}
		</h1>
	</center>
	<h2> <p>El suscrito Párroco de {{confirmacion.parroquia|upper}} CERTIFICA:</h2>
	Que en el libro: {{ confirmacion.libro.numero_libro}}, pagina: {{ confirmacion.pagina}} y con el numero: {{ confirmacion.numero_acta }} </br>
	se encuentra la partida de Confirmación de: {{ confirmacion.confirmado}} <br/>
	{%if "m" in confirmacion.confirmado.sexo%}
	hijo de: {{ confirmacion.confirmado.padre}} <br/>
	{%else%}
	hija de: {{ confirmacion.confirmado.padre}} <br/>
	{%endif%}
	y de: {{ confirmacion.confirmado.madre}} <br/>
	realizado el: {{confirmacion.fecha_sacramento}}<br/>
	Confirmante: {{confirmacion.obispo}}<br/>
	{%if confirmacion.padrino and confirmacion.madrina%}
	Padrinos: {{ confirmacion.padrino}} y {{ confirmacion.madrina}} <br/><br/>
	{%endif%}
	{%if confirmacion.padrino and not confirmacion.madrina%}
	Padrino: {{ confirmacion.padrino}} <br/><br/>
	{%endif%}
	{%if not confirmacion.padrino and confirmacion.madrina%}
	Madrina: {{ confirmacion.madrina}} <br/><br/>
	{%endif%}

	Datos fidedignos tomados del archivo parroquial<br/><br/>




	Loja, {%now "d"%} de {%now "F"%} del {%now "Y"%}<br/><br/><br/>

	<table align='center'>
		<tbody>
			<tr>
				<td>
					<p align='center'>

						---------------------------------------------------<br/>
						P.{{cura}} 
					</p>
				</td>
				<td>
					<p align='center'>

						-----------------------------------------<br/>
						{{"SECRETARIO"}}
					</p>

				</td>
			</tr>


		</tbody>
	</table>

	Observaciones:<br/>



	<div id="pagina">
		Pagina Nro: <pdf:pagenumber>
	</div>


</body>
</html>