{%extends 'base.html'%}
{%load tags%}

{%block title%}
{%if object.id%}
Editar Confirmacion 
{%else%}
Agregar Confirmacion
{%endif%}
{%endblock%}
{%block content_title%}
{%if object.id%} 
Editar Confirmacion 
{%else%}
Agregar Confirmacion 
{%endif%}
{%endblock%}

{%block content%}


<!-- Div para manejar mensajes de error -->
<div id="id_mensaje">
	
</div>


<!-- Pestañas para datos del feligres, y del bautizo -->


<ul class='nav nav-tabs'>
	<!--<li class='active'><a href="#id_datos_feligres" data-toggle='tab'>Datos del Feligres</a></li>-->
	<li class='active'><a href="#id_datos_confirmacion" data-toggle='tab'>Datos del Sacramento</a></li>

</ul>

<div class="tab-content">
	<!--<div id='id_datos_feligres' class='tab-pane active'>
		<form id='id_form_feligres' class='form-horizontal'>
			{%feligres%}
		</form>
	</div>-->


	<div id="id_datos_confirmacion" class="tab-pane active">
		<form id='id_form_confirmacion' action="." method='POST' class='form-horizontal'>
			{% csrf_token%}
			<div class='container'>
				<div class='row'>
					<div class='span6'>
						<div class='control-group'>
							<label for="id_libro" class='control-label'>{{form_confirmacion.libro.label}}</label>
							<div class='controls'>
								{{form_confirmacion.libro}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_pagina" class='control-label'>{{form_confirmacion.pagina.label}}</label>
							<div class='controls'>
								{{form_confirmacion.pagina}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_numero_acta" class='control-label'>{{form_confirmacion.numero_acta.label}}</label>
							<div class='controls'>
								{{form_confirmacion.numero_acta}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_tipo_sacramento" class='control-label'>{{form_confirmacion.confirmado.label}}</label>
							<div class='controls'>
								{{form_confirmacion.confirmado}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_fecha_sacramento" class='control-label'>{{form_confirmacion.fecha_sacramento.label}}</label>
							<div class='controls'>
								{{form_confirmacion.fecha_sacramento}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_lugar_sacramento" class='control-label'>{{form_confirmacion.lugar_sacramento.label}}</label>
							<div class='controls'>
								{{form_confirmacion.lugar_sacramento}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_iglesia" class='control-label'>{{form_confirmacion.iglesia.label}}</label>
							<div class='controls'>
								{{form_confirmacion.iglesia}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_padrino" class='control-label'>{{form_confirmacion.padrino.label}}</label>
							<div class='controls'>
								{{form_confirmacion.padrino}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_madrina" class='control-label'>{{form_confirmacion.madrina.label}}</label>
							<div class='controls'>
								{{form_confirmacion.madrina}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_obispo" class='control-label'>{{form_confirmacion.obispo.label}}</label>
							<div class='controls'>
								{{form_confirmacion.obispo}}
							</div>
						</div>
						
						
					</div>
					
						
	
			</div>
		</div>
		
	
	<div class="form-actions">
		<input type="submit" value="Enviar" class='btn btn-primary'/>
		<a href="{%url 'confirmacion_list'%}" class='btn btn-primary'>Cancelar</a>
	</div>

</form>
</div>

	

	



<!-- Modal para indicar que un usuario ha sid creado-->
{%include 'modal.html'%}

</div>



{% endblock%}