{%extends 'base.html'%}

{%load tags%}

{%block title%}Sacramento de Confirmacion{%endblock%}

{%block content%}


<!-- Div para manejar mensajes de error -->
<div id="id_mensaje">
	
</div>


<!-- Pestañas para datos del feligres, y del bautizo -->


<ul class='nav nav-tabs'>
	<li class='active'><a href="#id_datos_feligres" data-toggle='tab'>Datos del Feligres</a></li>
	<li><a href="#id_datos_confirmacion" data-toggle='tab'>Datos del Sacramento</a></li>

</ul>

<div class="tab-content">
	<div id='id_datos_feligres' class='tab-pane active'>
		<form id='id_form_feligres' class='form-horizontal'>
			{%feligres%}
		</form>
	</div>


	<div id="id_datos_confirmacion" class="tab-pane">
		<form id='id_form_confirmacion' action="." method='POST' class='form-horizontal'>
			{% csrf_token%}
			<div class='container'>
				<div class='row'>
					<div class='span6'>
						<div class='control-group'>
							<label for="id_pagina" class='control-label'>{{form.pagina.label}}</label>
							<div class='controls'>
								{{form.pagina}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_numero_acta" class='control-label'>{{form.numero_acta.label}}</label>
							<div class='controls'>
								{{form.numero_acta}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_tipo_sacramento" class='control-label'>{{form.tipo_sacramento.label}}</label>
							<div class='controls'>
								{{form.tipo_sacramento}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_fecha_sacramento" class='control-label'>{{form.fecha_sacramento.label}}</label>
							<div class='controls'>
								{{form.fecha_sacramento}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_obispo" class='control-label'>{{form.obispo.label}}</label>
							<div class='controls'>
								{{form.obispo}}
							</div>
						</div>

						<div class='control-group'>
							<label for="id_lugar_sacramento" class='control-label'>{{form.lugar_sacramento.label}}</label>
							<div class='controls'>
								{{form.lugar_sacramento}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_padrino" class='control-label'>{{form.padrino.label}}</label>
							<div class='controls'>
								{{form.padrino}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_madrina" class='control-label'>{{form.madrina.label}}</label>
							<div class='controls'>
								{{form.madrina}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_iglesia" class='control-label'>{{form.iglesia.label}}</label>
							<div class='controls'>
								{{form.iglesia}}
							</div>
						</div>
						
					</div>
					
				
			
	
			</div>
		</div>
		
	
	<div class="form-actions">
		<input type="submit" value="Enviar" class='btn btn-primary'/>
		<a href="{%url 'confirmacion_list'%}" class='btn btn-primary'>Cancelar</a>
	</div>

</form>
</div>

	

	



<!-- Modal para indicar que un usuario ha sid creado-->
<div  id="id_confirm_usuario_create" class="modal hide fade"  tabindex="5">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Mensaje de Confirmación</h3>
	</div>
	<div class="modal-body">
		Feligres creado exitosamente		
	</div>
	<div class="modal-footer">
		<a id='id_aceptar' href="." class="btn btn-danger">Aceptar</a>
	</div>
</div>

<div id="id_buscar_padre" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Búsqueda de Feligreses</h3>
	</div>
	<div class="modal-body">
		
		<!--<input type="radio" value='Cédula'>
		<form action=""></form> #}-->
		<table id="id_table_busqueda_usuarios" class="table table-bordered table-striped">
			<thead>
				<tr class='alert alert-info'>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Dni</th>

					
				</tr>
			</thead>
			<tbody>
				{% for o in perfil_form %}
				<tr >
					<td><a href="#">{{o.user.first_name}}</a></td>
					<td >{{o.user.last_name}}</td>
					<td >{{o.dni}}</td>
					
				</tr>
				{% endfor %}
			</tbody>
			
		</table>
	</div>
	<div class="pagination">
	<ul>

		{% if page_obj.has_previous %}
		<li><a href="?page={{page_obj.previous_page_number }}">Anterior</a>
			{% endif %}
		</li>

		{%for p in lista%}
		<li><a href="?page={{p}}">{{p}}</a></li>
		{%endfor%}

		<li>
			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
			{% endif %}
		</li>
	</ul>
</div>

	<div class="modal-footer">
		<a id='id_aceptar' href="." class="btn btn-danger" data-dismiss="modal">Aceptar</a>
	</div>
</div>




{% endblock%}