<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head> 
<style>
@page {
	margin-bottom: 2.5cm;
	size: a4; 
	margin: 3cm 3cm 3cm 3cm;
	@frame footer {
		-pdf-frame-content: footer;
		bottom: 0cm;
		margin-left: 3cm;
		margin-right: 3cm;
		height: 3cm;
	}
}
body {
	font-family: Helvetica, Arial, Sans;
	font-size: 14px;
}
#id_direccion{
	font-size: 10px;
}


</style> 
<body>
	<center>
		
		
		<h1> 
			
			{{ "Diocesis de Loja"|upper }}  <br/>
			Parroquia Eclesiastica {{cura.parroquia|upper}} <br/>
			{{"Loja - Ecuador" | upper}} <br/>

			<div id='id_direccion'>{{"Direccion: "}}{{ cura.parroquia.direccion }} {{"Tel: "}}{{cura.parroquia.direccion.telefono}}<br/></div>

			{{"Certicado"|upper}}<p/></h4></h1></center><br/>
			<p align='right'> <strong>Loja, {%now "d"%} de {%now "F"%} del {%now "Y"%}</strong></p><br/>
			<p align="justify">
				Rvdo <strong>{{cura.persona.user.get_full_name}}</strong> Párroco de <strong>{{cura.parroquia.nombre|upper}}</strong> certifica conocer personalmente  
				{%if 's' in perfil.estado_civil and 'f' in perfil.sexo%}
				a la Srta:<br/><br/>
				{%endif%}
				{%if not 's' in perfil.estado_civil and 'f' in perfil.sexo%}
				a la Sra:<br/><br/>
				{%endif%}
				{%if 's' in perfil.estado_civil and 'm' in perfil.sexo%}
				al Sr:<br/><br/>
				{%endif%}


				<strong>{{perfil.user.get_full_name|upper}}</strong>, con numero de cédula: <strong>{{perfil.dni}}</strong>, quien ha demostrado honestidad, honradez, espíritu de servicio y gran responsabilidad en las tareas asignadas.<br/><br/>

				Es todo cuanto puedo certificar en honor a la verdad, autorizando al interesado hacer uso del presente  documento, para los fines legales pertinentes.</p><br/><br/>




				<center> Atentamente,</center><br/><br/><br/><br/><br/>

				<center>
				 <strong>---------------------------------------------------------------<br/></strong>
				 	P. {{cura.persona.user.get_full_name}}<br/>
				 <strong>{{"PARROCO DE"}} {{cura.parroquia|upper}}</strong>
				</center>

				<br/><br/><br/><br/>
		

				<div id="footer">
					<p>Sistema de Gestion Sacramental <strong>Ekklesia</strong> - Reporte generado por: <strong>{{secretaria.persona.user.get_full_name}}</strong></p>

				</div>

			</body>

		</body>
		</html>