{%extends 'base.html'%}

{%load tags%}

{%block title%}Agregar Feligreses{%endblock%}

{%block content%}

<div class='container'>
	<div class="row">
		<div class="offset4 span1">
			<a href="#" class='btn btn-primary'>
				<i class="icon-pencil icon-white"></i>
				<span><strong>Lista</strong></span>
			</a>
		</div>
	</div>
</div>

<!-- Div para manejar mensajes de error -->
<div id="id_mensaje">
	
</div>


<!-- Pestañas para datos personales, padre y madre -->


<ul class='nav nav-tabs'>
	<li class='active'><a href="#id_datos_personales" data-toggle='tab'>Datos Personales</a></li>
	<li><a href="#id_datos_padre" data-toggle='tab'>Datos del Padre</a></li>
	<li><a href="#id_datos_madre" data-toggle='tab'>Datos de la Madre</a></li>
</ul>

<div class="tab-content">
	<div id='id_datos_personales' class='tab-pane active'>
		<form id='id_form_usuario_create' class='form-horizontal' method='POST'>
			{%csrf_token%}
			<div class="container">
				<div class="row">
					<div class='span6'>
						<div class='control-group'>
							<label for="id_dni" class='control-label'>{{perfil_form.dni.label}}</label>
							<div class='controls'>
								{{perfil_form.dni}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_first_name" class='control-label'>{{usuario_form.first_name.label}}</label>
							<div class='controls'>
								{{usuario_form.first_name}}
							</div>
							<div id="id_errors_first_name" class='controls invalid'></div>
						</div>
						
						<div class='control-group'>
							<label for="id_last_name" class='control-label'>{{usuario_form.last_name.label}}</label>
							<div class='controls'>
								{{usuario_form.last_name}}
							</div>

						</div>
					</div>
					<div class='span6'>
						<div class='control-group'>
							<label for="id_fecha_nacimiento" class='control-label'>{{perfil_form.fecha_nacimiento.label}}</label>
							<div class='controls'>
								{{perfil_form.fecha_nacimiento}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_lugar_nacimiento" class='control-label'>{{perfil_form.lugar_nacimiento.label}}</label>
							<div class='controls'>
								{{perfil_form.lugar_nacimiento}}
							</div>
						</div>
						<div class='control-group'>
							<label for="id_sexo" class='control-label'>{{perfil_form.sexo.label}}</label>
							<div class='controls'>
								{{perfil_form.sexo}}
							</div>
						</div>
					</div>
				</div>	
			</div>

			<div class="form-actions">
				<input type="submit" value='Enviar' class="btn btn-primary">
				<a href="{%url 'usuario_list'%}" class='btn btn-primary'>Cancelar</a>
			</div>
		</form>
	</div>

	<div id="id_datos_padre" class="tab-pane">
		<form id='id_form_padre' class='form-horizontal'>
			{%padre%}
		</form>
	</div>

	<div id="id_datos_madre" class="tab-pane">
		<form id='id_form_madre' class='form-horizontal'>
			{%padre%}
		</form>
	</div>

	
</div>

<!-- Modal para indicar que un usuario ha sido creado-->
<div  id="id_confirm_usuario_create" class="modal hide fade"  tabindex="5">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Mensaje de Confirmación</h3>
	</div>
	<div class="modal-body">
		Feligres creado exitosamente		
	</div>
	<div class="modal-footer">
		<a id='id_aceptar' href="." class="btn btn-danger">Aceptar</a>
	</div>
</div>

<!-- Modal para buscar un usuario por cédula, nombres o apellidos-->
<div id="id_buscar_padre" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Búsqueda de Feligreses</h3>
	</div>
	<div class="modal-body">
		<div id='id_div_mensaje'>
			<p>Escoja un criterio de búsqueda, por cedula o por nombres y apellidos</p>
		</div>
		<div class="btn-group" data-toggle="buttons-radio">
			<button id='id_button_cedula' type="button" class="btn">Cédula</button>
			<button id='id_button_nombres' type="button" class="btn">Nombres/Apellidos</button>
		</div>

		<div id='id_div_form_buscar' style='margin-top: 20px; display: none'>
			<form id='id_form_busqueda' action="" method='GET' class='form-search'>
				<div id='id_div_busqueda_nombres'style='display:none'>

					<input id='id_query_nombres' type="text" class='control-label input-medium search-query' name='nombres' placeholder='Nombres'>	

					<input id='id_query_apellidos' type="text" class='control-label input-medium search-query' name='apellidos' placeholder='Apellidos'>	
				</div>
				<div id='id_div_busqueda_cedula'style='display:none'>

					<input id='id_query_cedula' type="text" class='control-label input-medium search-query' name='cedula' placeholder='Cedula'>
				</div>
				<input id='id_input_buscar' type="submit" value="Buscar" class="control-label btn btn-primary">

			</form>
		</div>

		<table style='display:none' id="id_table_busqueda_usuarios" class='table table-striped table-bordered'>
			<thead>
				<tr class='alert alert-info'>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Dni</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<div style='display: none' id='id_div_mensaje_error' class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
			<img src="/static/img/error.png" alt="">
			<p></p>
		</div>

	</div>
	<div class="modal-footer">
		<a id='id_aceptar' href="." class="btn btn-primary" data-dismiss="modal">Aceptar</a>
	</div>
</div>

{% endblock%}