{%extends 'base.html'%}
{%block title%}Lista de Intenciones de Misa{%endblock%}
{%block content_title%}
Lista de Intenciones de Misa
{%endblock%}

{%block content%}
<table id='id_table_parroquia' class='table table-bordered table-striped table-hover' >
	<thead>
		<tr>
			<th>Intención</th>
			<th>Fecha</th>
			<th>Hora</th>
			<th>Oferente</th>
		</tr>
	</thead>
	<tbody>

		{%for o in object_list%}
		<tr>
			<td>
				<a href="{{o.get_absolute_url}}">{{o.intencion}}</a>
			</td>
			<td>{{o.fecha}}</td>
			<td>{{o.hora}}</td>
			<td>{{o.oferente}}</td>
		</tr>
		{%endfor%}
	</tbody>
</table>

<a href="{%url 'intencion_create'%}" class='btn btn-primary'>Registrar intenciones de misa</a>

{%endblock%}