{%extends 'base.html'%}
{%block title%}Lista de Secretarios/as{%endblock%}
{%block content_title%}
Lista de Secretarios/as
{%endblock%}



{% block content%}
<table id='id_table_secretaria' class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Nombres</th>
			<th>Parroquia</th>
			<th>Estado</th>
		</tr>
	</thead>
	<tbody>
		{% for o in object_list%}
		<tr>
			<td><a href="{%url 'asignar_secretaria_update' pk=o.id%}">{{o.persona}}</a></td>
			<td>{{o.parroquia}}</td>
			<td>{{o.estado}}</td>
			
		</tr>
		{%endfor%}
	</tbody>
</table>

<a href="{%url 'asignar_secretaria_create'%}" class='btn btn-primary'>Nueva Asignación</a>

{% endblock%}