{% extends 'base.html'%}
{%load tags%}
{%block title%}
{%if object.id%}
Editar Secretario/a
{%else%}
Agregar Secretario/a 
{%endif%}
{%endblock%}

{%block content_title%}
{%if object.id%} 
Editar Secretario/a
{%else%}
Agregar Secretario/a 
{%endif%}
{%endblock%}


{%block content%}

<form action="." method='POST' class='form-horizontal'>
	{%csrf_token%}


	

		<div class="control-group">
			
			<div class="control-label">
				{{form.persona.label}}
			</div>
			<div class="controls">
				{{form.persona}}
				<a href="#id_buscar_padre" class='btn btn-primary' data-toggle='modal'><i class='icon-search'></i></a>
				<a href="#id_crear_secretaria" class='btn btn-primary' data-toggle='modal'><i class='icon-plus'></i></a>
			</div>

			<div class="controls">
				<div class='help-text'>
					{{form.persona.help_text}}
				</div>
			</div>
			<div class="controls">
				<div class='errors'>
					{{form.persona.errors}}
				</div>
			</div>
		</div>

		<div class="control-group">
			
			<div class="control-label">
				{{form.parroquia.label}}
			</div>
			<div class="controls">
				{{form.parroquia}}
			</div>

			<div class="controls">
				<div class='help-text'>
					{{form.parroquia.help_text}}
				</div>
			</div>
			<div class="controls">
				<div class='errors'>
					{{form.parroquia.errors}}
				</div>
			</div>
		</div>

		<div class="control-group">
			
			<div class="control-label">
				{{form.estado.label}}
			</div>
			<div class="controls">
				{{form.estado}}
			</div>

			<div class="controls">
				<div class='help-text'>
					{{form.estado.help_text}}
				</div>
			</div>
			<div class="controls">
				<div class='errors'>
					{{form.estado.errors}}
				</div>
			</div>
		</div>

	

	<div class="form-actions">
		<input type="submit" value='Enviar' class='btn btn-primary'>
		<a href="{% url 'asignar_secretaria_list'%}" class='btn btn-primary'> Cancelar</a>
	</div>

</form>

{%include 'modal.html'%}


<!-- Modal para crear una secretaria-->
	<div id="id_crear_secretaria" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<h3>Búsqueda de Personas</h3>
		</div>
		<div class="modal-body">
			<form id='id_form_crear_secretaria' class='form-horizontal' method='POST'>
				{%feligres%}

				<div class="control-group">
					<div class='controls'>
						<input type="submit" value='Enviar' class='btn btn-primary'>
					</div>
				</div>
			</form>

		</div>
		<div class="modal-footer">
			<a href="." class="btn btn-primary" data-dismiss="modal">Cancelar</a>
		</div>
	</div>




{%endblock%}
