{% extends 'base.html'%}
{%load tags_html%}

{%block title%}{%if object.id%}Editar Parroquia{%else%}Agregar Parroquia{%endif%}{%endblock%}
{%block content_title%}
{%if object.id%} 
Editar Parroquia
{%else%}
Agregar Parroquia
{%endif%}
{%endblock%}

{%block content%}

<form action="." method='POST' class="form-horizontal">
	{%csrf_token%}
	

	<div class="control-group">
		{{form_parroquia.nombre|label_with_classes:'control-label'}}
		<div class="controls">
			{{form_parroquia.nombre}}
		</div>
		<div class="controls">
			{{form_parroquia.errors}}
		</div>
	</div>

	{%for f in form_direccion%}
	<div class='control-group'>
		{{f|label_with_classes:'control-label'}}
		<div class='controls'>
			{{f}}
		</div>
		<div class='controls'>
			{{f.errors}}
		</div>
	</div>
	{%endfor%}
	
	<div class="form-actions">
		<input class='btn btn-primary' type="submit" value='Enviar'>
		<a href="{%url 'parroquia_list'%}" class='btn btn-primary'>Cancelar</a>
	</div>
</form>

{%endblock%}