{%extends 'base.html'%}
{%load tags%}

{%block title%}
{%if object.id%}
Editar Bautismo 
{%else%}
Agregar Bautismo
{%endif%}
{%endblock%}
{%block content_title%}
{%if object.id%} 
Editar Bautismo
{%else%}
Agregar Bautismo
{%endif%}
{%endblock%}


{%block content%}


<!-- Div para manejar mensajes de error -->
<div id="id_mensaje">
	
</div>
{%if object.id%}
<div class="btn-toolbar pull-right">
<div class="btn-group">
    <button data-toggle="dropdown" class=" btn btn-primary dropdown-toggle">
        <i class='icon-print'></i>  Reportes <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" >
        <li>
        	
        	<a href="{%url 'bautismo_acta' pk=object.id%}" target="_blank"><i class='icon-book '></i> Acta</a>
        	<a href="{%url 'bautismo_certificado' pk=object.id%}" target="_blank"><i class='icon-file-text-alt'></i> Certificado</a>

            
        </li>
     </ul>
  </div>
</div>
{%endif%}


<!-- Pestañas para datos del feligres, y del bautizo -->


<input id='id_hidden' type="hidden" value='{{object.id}}'>
<form id='id_form_bautismo' method='POST' class='form-horizontal'>
	{% csrf_token%}
	
	<div class='row'>
		<div class='span10'>
			<fieldset class='scheduler-border'>
				<legend class='scheduler-border'>Datos Principales del Sacramento</legend>
				<div class='row'>
					<div class="span4">
						<div class='control-group'>
							<label for="id_libro" class='control-label'>{{formBautismo.libro.label}}</label>
							<div class='controls'>
								{{formBautismo.libro}}
								
							</div>
							<div class="controls help-text">
									{{formBautismo.libro.help_text}}
							</div>
							
						</div>
					</div>
					<div class="span4">
						<div class='control-group'>
							<label for="id_pagina" class='control-label'>{{formBautismo.pagina.label}}</label>
							<div class='controls'>
								{{formBautismo.pagina}}
							</div>
							<div class="controls help-text">
								{{formBautismo.pagina.help_text}}
							</div>
							
						</div>
					</div>
					<div class="span4">
						<div class='control-group'>
							<label for="id_numero_acta" class='control-label'>{{formBautismo.numero_acta.label}}</label>
							<div class='controls'>
								{{formBautismo.numero_acta}}
							</div>
							<div class="controls help-text">
								{{formBautismo.numero_acta.help_text}}
							</div>
						</div>

					</div>
					<div class="span4">
						<div class='control-group'>
							<label for="id_fecha_sacramento" class='control-label'>{{formBautismo.fecha_sacramento.label}}</label>
							<div class='controls'>
								{{formBautismo.fecha_sacramento}}
							</div>
							<div class="controls help-text">
								{{formBautismo.fecha_sacramento.help_text}}</div>
						</div>

					</div>
					<div class="span8">
						<div class='control-group'>
							<label for="id_bautizado" class='control-label'>{{formBautismo.bautizado.label}}</label>
							<div class='controls'>
								{{formBautismo.bautizado}}
								<a href="#id_buscar_padre" class='btn btn-primary' data-toggle='modal'><i class='icon-search'></i> Buscar</a>
							</div>
							<div class="controls help-text">
								{{formBautismo.bautizado.help_text}}</div>
						</div>
					</div>
					<div class="span4">
						<div class='control-group'>
							<label for="id_lugar_sacramento" class='control-label'>{{formBautismo.lugar_sacramento.label}}</label>
							<div class='controls'>
								{{formBautismo.lugar_sacramento}}
							</div>
							<div class="controls help-text">
								{{formBautismo.lugar_sacramento.help_text}}</div>
						</div>
						<div class='control-group'>
							<label for="id_celebrante" class='control-label'>
								{{formBautismo.celebrante.label}}</label>
							<div class='controls'>
								{{formBautismo.celebrante}}
							</div>
							<div class="controls help-text">
								{{formBautismo.celebrante.help_text}}</div>
						</div>
					</div>
					<div class="span4">
						<div class='control-group'>
							<label for="id_iglesia" class='control-label'>
								{{formBautismo.iglesia.label}}</label>
							<div class='controls'>
								{{formBautismo.iglesia}}
							</div>
							<div class="controls help-text">
								{{formBautismo.iglesia.help_text}}</div>
						</div>
						
					</div>
				</div>
			</fieldset>

			<fieldset class='scheduler-border'>
				<legend class='scheduler-border'>Mas Datos del Sacramento</legend>
				<div class="row">
					<div class='span4'>
						<div class='control-group'>
							<label for="id_padrino" class='control-label'>
								{{formBautismo.padrino.label}}</label>
							<div class='controls'>
								{{formBautismo.padrino}}
							</div>
							<div class="controls help-text">
								{{formBautismo.padrino.help_text}}</div>
						</div>
						<div class='control-group'>
							<label for="id_madrina" class='control-label'>
								{{formBautismo.madrina.label}}</label>
							<div class='controls'>
								{{formBautismo.madrina}}
							</div>
							<div class="controls help-text">
								{{formBautismo.madrina.help_text}}</div>
						</div>
						<div class='control-group'>
							<label for="id_abuelo_paterno" class='control-label'>
								{{formBautismo.abuelo_paterno.label}}</label>
							<div class='controls'>
								{{formBautismo.abuelo_paterno}}
							</div>
							<div class="controls help-text">
								{{formBautismo.abuelo_paterno.help_text}}</div>
						</div>
						<div class='control-group'>
							<label for="id_abuela_paterna" class='control-label'>
								{{formBautismo.abuela_paterna.label}}</label>
							<div class='controls'>
								{{formBautismo.abuela_paterna}}
							</div>
							<div class="controls help-text">
								{{formBautismo.abuela_paterna.help_text}}</div>
						</div>
					</div>
					<div class="span4">
						<div class='control-group'>
							<label for="id_abuelo_materno" class='control-label'>
								{{formBautismo.abuelo_materno.label}}</label>
							<div class='controls'>
								{{formBautismo.abuelo_materno}}
							</div>
							<div class="controls help-text">
								{{formBautismo.abuelo_materno.help_text}}</div>
						</div>
						<div class='control-group'>
							<label for="id_abuela_materna" class='control-label'>
								{{formBautismo.abuela_materna.label}}</label>
							<div class='controls'>
								{{formBautismo.abuela_materna}}
							</div>
							<div class="controls help-text">
								{{formBautismo.abuela_materna.help_text}}</div>
						</div>
						<div class='control-group'>
							<label for="id_vecinos_paternos" class='control-label'>
								{{formBautismo.vecinos_paternos.label}}</label>
							<div class='controls'>
								{{formBautismo.vecinos_paternos}}
							</div>
							<div class="controls help-text">
								{{formBautismo.vecinos_paternos.help_text}}</div>
						</div>
						<div class='control-group'>
							<label for="id_vecinos_maternos" class='control-label'>
								{{formBautismo.vecinos_maternos.label}}</label>
							<div class='controls'>
								{{formBautismo.vecinos_maternos}}
							</div>
							<div class="controls help-text">
								{{formBautismo.vecinos_maternos.help_text}}</div>
						</div>

					</div>

				</div>
			</fieldset>
			{%if object.id%}	
			<fieldset id='id_fielset_tabla' class='scheduler-border'>
				<legend class='scheduler-border'><a href="#id_crear_nota" data-toggle='modal'>Nota Marginal</a></legend>
				
				<table id='id_table_nota_bautismo' class='table table-bordered table-striped'>
					<thead>
						<tr class='alert alert-info'>
							<th>Fecha</th>
							<th>Descripcion</th>
						</tr>

					</thead>
					<tbody>
						{% for o in notas %}
						<tr>
							<td> {{o.fecha}}</td>
							<td>{{o.descripcion}}</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</fieldset>
			{%endif%}
		</div>
	</div>
	<div class="form-actions">
		<input type="submit" value="Enviar" class='btn btn-primary'>
		<a href="{%url 'bautismo_list'%}" class='btn btn-primary'>Cancelar</a>
		{# <a href="{%url 'bautismo_reporte' pk=request.bautismo.id%}" class='btn btn-primary'>Reporte</a> #}
	</div>

</form>

<!--Modal para crear Notas Marginales -->
<div id="id_crear_nota" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			
		</button>
		<h3>Crear Nota Marginal</h3>
	</div>
	<div class="modal-body">
		<form id='id_form_crear_nota' class='form-horizontal' method='POST'>
			{%nota_marginal%}

			<div class="control-group">
				<div class='controls'>
					<input id='crear'type="submit"  value='Enviar' class='btn btn-primary'>
				</div>
			</div>
		</form>

	</div>
	<div class="modal-footer">
		<a href="." class="btn btn-primary" data-dismiss="modal">Cancelar</a>
	</div>
</div>

{%include 'modal.html'%}



{% endblock%}