<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head> 
<style>
@page {
	margin-bottom: 2.5cm;
	size: a4; 
	margin: 3cm 3cm 3cm 3cm;
	@frame footer {
		-pdf-frame-content: footer;
		bottom: 0cm;
		margin-left: 3cm;
		margin-right: 3cm;
		height: 3cm;
	}
}
body {
	font-family: Helvetica, Arial, Sans;
	font-size: 14px;
}
#id_direccion{
	font-size: 10px;
}


</style> 
<body>
	<center>
		
		
		<h1> 
			{{ "Diocesis de Loja"|upper }}  <br/>
			Parroquia Eclesiastica {{bautismo.parroquia|upper}} <br/>
			{{"Loja - Ecuador" | upper}} <br/>

			<div id='id_direccion'>{{"Direccion: "}}{{ bautismo.parroquia.direccion }} {{"Tel: "}}{{bautismo.parroquia.direccion.telefono}}<br/><br/></div>
			{{"Partida Bautismal"|upper}}<p/></h4></h1></center>
			<h2> <p>El suscrito Párroco de <strong>{{bautismo.parroquia|upper}}</strong> CERTIFICA:</h2>
			Que en el libro: <strong>{{ bautismo.libro.numero_libro}}</strong>, pagina: <strong>{{ bautismo.pagina}}</strong> y con el numero: <strong>{{ bautismo.numero_acta }}</strong> </br>
			se encuentra la Partida Bautismal de: <strong>{{ bautismo.bautizado}}</strong> <br/>
			{%if "m" in bautismo.bautizado.sexo%}
			Hijo de: <strong>{{ bautismo.bautizado.padre}}</strong> <br/>
			y de: <strong>{{ bautismo.bautizado.madre}}</strong> <br/>
			Nacido el: <strong>{{bautismo.bautizado.fecha_nacimiento}}</strong><br/>
			y bautizado el: <strong>{{bautismo.fecha_sacramento}}</strong><br/>
			{%else%}
			Hija de: <strong>{{ bautismo.bautizado.padre}}</strong> <br/>
			y de: <strong>{{ bautismo.bautizado.madre}}</strong> <br/>
			Nacida el: <strong>{{bautismo.bautizado.fecha_nacimiento}}</strong><br/>
			y bautizada el: <strong>{{bautismo.fecha_sacramento}}</strong><br/>
			{%endif%}
			Bautizante:  <strong>{{bautismo.celebrante}}</strong><br/>

			{%if bautismo.padrino and bautismo.madrina%}
			Padrinos: <strong>{{ bautismo.padrino}}</strong> y <strong>{{ bautismo.madrina}}</strong> <br/><br/>
			{%endif%}	
			{%if bautismo.padrino and  not bautismo.madrina%}
			Padrino: <strong>{{ bautismo.padrino}}</strong><br/><br/>
			{%endif%}	
			{%if not bautismo.padrino and  bautismo.madrina%}
			Madrina: <strong>{{ bautismo.madrina}}</strong><br/><br/>
			{%endif%}	
			
			Datos fidedignos tomados del archivo parroquial<br/><br/>






			<strong>Loja, {%now "d"%} de {%now "F"%} del {%now "Y"%}</strong><br/><br/><br/><br/><br/><br/>
			
			<table align='center'>
				<tbody>
					<tr>
						<td style="text-align: center;">
							
							
							---------------------------------------------------<br/>
							<strong>P.{{cura}}</strong> 
							
						</td>
						<td style="text-align: center;">
							
							
							---------------------------------------------------<br/>
							<strong>{{"SECRETARIO"}}</strong>
							

						</td>
					</tr>


				</tbody>
			</table>
			
			<br/><br/><br/><br/>
			

			Observaciones:<br/>

			{%for n in notas%}
			<strong>{{n.fecha|date:"SHORT_DATE_FORMAT"}}{{": "}}{{n.descripcion}}</strong><br/>
			{%endfor%}



			<div id="footer">
				<p>Sistema de Gestion Sacramental Ekkelsia - Reporte generado por:{{"Secretario/a"}}</p>
				
			</div>

		</body>
		
	</body>
	</html>