{% extends 'base.html'%}

{%block title%}Lista de Bautizados{%endblock%}
{%block content_title%}
Lista de Bautizados
{%endblock%}

{%block extrascript%}
<script src='/static/js/acta.js'></script>

{%endblock%}
{%block content%}


<table id='id_table_bautismo' class='table table-bordered table-striped'>
	<thead>
		<tr class='alert alert-info'>
			
			<th>Acta</th>
			<th>Bautizado</th>
			<th>Fecha Nacimiento</th>
			<th>Fecha Sacramento</th>
			<th>Papa</th>
			<th>Mama</th>
			
			
			
		</tr>
		
	</thead>
	<tbody>
		{% for o in object_list %}
		<tr>
			<td><a href="{%url 'bautismo_update' pk=o.id%}"> {{o.pagina}}</a></td>
			<td>{{o.bautizado.user.first_name}} {{o.bautizado.user.last_name}}</td>
			<td id='id_fecha_nacimiento'>{{o.bautizado.fecha_nacimiento}}</td>
			<td id='id_fecha_sacramento'>{{o.fecha_sacramento}}</td>
			<td>{{o.bautizado.padre.first_name}} {{o.bautizado.padre.last_name}}</td>
			<td>{{o.bautizado.madre.first_name}} {{o.bautizado.madre.last_name}}</td>

		</tr>

		{% endfor %}
	</tbody>

</table>

<a id='id_crear_bautismo' href="{% url 'bautismo_create' %}" class='btn btn-primary'>Nueva Acta Bautismal</a>

{%endblock%}