{%extends 'base.html'%}

{% block title%}
Cambio de Clave
{%endblock%}

{% block content %}

<form action="" method='POST' class='form-horizontal'>
	{% csrf_token %}
	<div class="control-group">
		{% for f in form  %}
		<label class="control-label">{{f.label}}</label>
		<div class="controls">{{f}}</div></br>
		<div class="controls"><div class="help-text">{{f.help_text}}</div></div>
		<div class="controls"><div class="errors">{{f.errors}}</div></div>
		{% endfor %}
	</div>
	<div class="form-actions">
		<input type="submit" class="btn btn-primary">
		<a href="{%url 'home'%}" class='btn btn-primary'>Cancelar</a>
	</div>
</form>

{% endblock%}
