{%extends 'home.html'%}

{% block title%}
Cambio de Clave
{%endblock%}

{% block content %}
{% block breadcrumbs %} {{ block.super }}» <a href="{%url 'password_change'%}">Cambiar Contraseña</a>{% endblock %}

{% if messages %}
{% for m in messages  %}
<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
	<h4>Peligro! </h4>
	{{m}}
</div>
{% endfor %}
{% endif %}

<form action="" method='POST' class='form-horizontal'>
	{% csrf_token %}
	<div class="control-group">
		{% for f in form  %}
		<label class="control-label">{{f.label}}</label>
		<div class="controls">{{f}}</div></br>
		<div class="controls errors">{{f.errors}}</div>
		{% endfor %}
	</div>
	<div class="form-actions"><input type="submit" class="btn btn-primary"></div>
	

</form>

{% endblock%}
