{% extends 'base.html' %}

{%block content%}
<h1>Home</h1>
<div class="row">
	<div class="thumbnails span10">
		<ul class='row'>
			<li class="span3 offset1">
				<div class='thumbnail'>
					<i class="icon-user icon-4x pull-left"></i>
					<div class="caption">
						<h2>Personas</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci inventore exercitationem voluptatem explicabo modi dicta quo ullam quis placeat nemo recusandae! Cupiditate nisi quibusdam numquam?</p>
						<p><a class='btn' href="">Ir</a></p>
					</div>
				</div>
			</li>
			<li class="span3">
				<div class='thumbnail'>
					<i class="icon-book icon-4x pull-left"></i>
					<div class="caption">
						<h2>Libros</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci inventore exercitationem voluptatem explicabo modi dicta quo ullam quis placeat nemo recusandae! Cupiditate nisi quibusdam numquam?</p>
						<p><a class='btn' href="">Ir</a></p>
					</div>
				</div>
			</li>
			<li class="span3">
				<div class='thumbnail'>
					<i class="icon-file-text icon-4x pull-left"></i>
					<div class="caption">
						<h2>Sacramentos</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci inventore exercitationem voluptatem explicabo modi dicta quo ullam quis placeat nemo recusandae! Cupiditate nisi quibusdam numquam?</p>
						<p><a class='btn' href="">Ir</a></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<ul class="thumbnails">
		<li class="span3">
			<div class='thumbnail'>
				<i class="icon-thumbs-up icon-4x pull-left"></i>
				<div class="caption">

					<h2>Intenciones de Misa</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci inventore exercitationem voluptatem explicabo modi dicta quo ullam quis placeat nemo recusandae! Cupiditate nisi quibusdam numquam?</p>
					<p><a class='btn' href="">Ir</a></p>
				</div>
			</div>

		</li>

		<li class="span3">
			<div class='thumbnail'>
				<i class="icon-calendar icon-4x pull-left"></i>
				<div class="caption">

					<h2>Agenda</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci inventore exercitationem voluptatem explicabo modi dicta quo ullam quis placeat nemo recusandae! Cupiditate nisi quibusdam numquam?</p>
					<p><a class='btn' href="">Ir</a></p>
				</div>
			</div>

		</li>
	</ul>
</div>
{%endblock%}