{% extends 'base.html' %}

{%block content_title%}
Home
{%endblock%}
{%block content%}
<div class="row">
	<div class="span10 offset1">
		<ul class='thumbnails'>
			<li class="span3 offset1">
				<div class='thumbnail'>
					<div style='text-align: center'>
						<i class="icon-user icon-4x "></i>
						<h2>Personas</h2>
					</div>
					<div class="caption">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci 
						</p>
						<p><a class='btn btn-primary' href="{%url 'usuario_list'%}">Ir</a></p>
					</div>
				</div>
			</li>
			<li class="span3">
				<div class='thumbnail'>
					<div style='text-align: center'>
						<i class="icon-book icon-4x "></i>
						<h2>Libros</h2>
					</div>
					<div class="caption">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci 
						</p>
						<p><a class='btn btn-primary' href="{%url 'libro_list'%}">Ir</a></p>
					</div>
				</div>
			</li>
			<li class="span3">
				<div class='thumbnail'>
					<div style='text-align: center'>
						<i class="icon-file-text icon-4x"></i>
						<h2>Sacramentos</h2>
					</div>
					<div class="caption">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci 
						</p>
						<p><a class='btn btn-primary' href="">Ir</a></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="span10 offset1">
	
	<div class="row">
		<ul class="thumbnails">
			<li class="span3">
				<div class='thumbnail'>
					<div style='text-align: center'>
						<i class="icon-thumbs-up icon-4x "></i>
						<h2>Intenciones de Misa</h2>
					</div>
					<div class="caption">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci 
						</p>
						<p><a class='btn btn-primary' href="">Ir</a></p>
					</div>
				</div>

			</li>

			<li class="span3">
				<div class='thumbnail'>
					<div style='text-align: center'>
						<i class="icon-calendar icon-4x "></i>
						<h2>Agenda</h2>
					</div>

					<div class="caption">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, illo, tempora, in, nostrum adipisci 
						</p>
						<p><a class='btn btn-primary' href="">Ir</a></p>
					</div>
				</div>

			</li>
		</ul>
	</div>
</div>
{%endblock%}