<div  id="{%block id_modal%}{%endblock%}" class="modal hide fade"  tabindex="5">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>{%block title_modal%}</h3>
	</div>
	<div class="modal-body">
		No se encontraron datos con este numero de cedula, si desea realizar una búsqueda avanzada presione el boton Busqueda Avanzada
		
	</div>
	<div class="modal-footer">
		<a id='id_eliminar' href="." class="btn btn-danger">Aceptar</a>
	</div>
</div>
