{%extends 'base.html'%}
{%load tags%}

{%block title%}
{%if object.id%}
Editar Primera Comunión 
{%else%}
Agregar Primera Comunión
{%endif%}
{%endblock%}
{%block content_title%}
{%if object.id%} 
Editar Primera Comunión 
{%else%}
Agregar Primera Comunión 
{%endif%}
{%endblock%}

{%block content%}


<!-- Div para manejar mensajes de error -->
<div id="id_mensaje">
	
</div>

{%if object.id%}
<div class="btn-toolbar pull-right">
<div class="btn-group">
    <button data-toggle="dropdown" class=" btn btn-primary dropdown-toggle">
        <i class='icon-print'></i>  Reportes <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" >
        <li>
            <a href="{%url 'eucaristia_reporte' pk=object.id%}" target="_blank"><i class='icon-file-text-alt'></i> Partida de Primera Comunion</a>
        </li>
     </ul>
  </div>
</div>
{%endif%}

<form id='id_form_comunion' action="." method='POST' class='form-horizontal'>
	{% csrf_token%}
	
	<div class='row'>
		<div class='span10'>
			<fieldset class='scheduler-border'>
				<legend class='scheduler-border'>Datos Personales</legend>
				<div class='control-group'>
					<label for="id_libro" class='control-label'>{{form_eucaristia.libro.label}}</label>
					<div class='controls'>
						{{form_eucaristia.libro}}
					</div>
					<div class="controls help-text">
						{{form_eucaristia.libro.help_text}}</div>
				</div>
				<div class='control-group'>
					<label for="id_pagina" class='control-label'>
						{{form_eucaristia.pagina.label}}</label>
					<div class='controls'>
						{{form_eucaristia.pagina}}
					</div>
					<div class="controls help-text">
						{{form_eucaristia.pagina.help_text}}</div>
				</div>
				<div class='control-group'>
					<label for="id_numero_acta" class='control-label'>
						{{form_eucaristia.numero_acta.label}}</label>
					<div class='controls'>
						{{form_eucaristia.numero_acta}}
					</div>
					<div class="controls help-text">
						{{form_eucaristia.numero_acta.help_text}}</div>
				</div>
				<div class='control-group'>
					<label for="id_feligres" class='control-label'>
						{{form_eucaristia.feligres.label}}</label>
					<div class='controls'>
						{{form_eucaristia.feligres}}
						<a href="#id_buscar_padre" class='btn btn-primary' data-toggle='modal'><i class='icon-search'></i> Buscar</a>
					</div>
					<div class="controls help-text">
						{{form_eucaristia.feligres.help_text}}</div>
				</div>
				<div class='control-group'>
					<label for="id_fecha_sacramento" class='control-label'>{{form_eucaristia.fecha_sacramento.label}}</label>
					<div class='controls'>
						{{form_eucaristia.fecha_sacramento}}
					</div>
					<div class="controls help-text">
						{{form_eucaristia.fecha_sacramento.help_text}}</div>
				</div>
				<div class='control-group'>
					<label for="id_lugar_sacramento" class='control-label'>{{form_eucaristia.lugar_sacramento.label}}</label>
					<div class='controls'>
						{{form_eucaristia.lugar_sacramento}}
					</div>
					<div class="controls help-text">
						{{form_eucaristia.lugar_sacramento.help_text}}</div>
				</div>
				<div class='control-group'>
					<label for="id_padrino" class='control-label'>
						{{form_eucaristia.padrino.label}}</label>
					<div class='controls'>
						{{form_eucaristia.padrino}}
					</div>
					<div class="controls help-text">
						{{form_eucaristia.padrino.help_text}}</div>
				</div>
				<div class='control-group'>
					<label for="id_madrina" class='control-label'>
						{{form_eucaristia.madrina.label}}</label>
					<div class='controls'>
						{{form_eucaristia.madrina}}
					</div>
					<div class="controls help-text">
						{{form_eucaristia.madrina.help_text}}</div>
				</div>
				<div class='control-group'>
					<label for="id_iglesia" class='control-label'>
						{{form_eucaristia.iglesia.label}}</label>
					<div class='controls'>
						{{form_eucaristia.iglesia}}
					</div>
					<div class="controls help-text">
						{{form_eucaristia.iglesia.help_text}}</div>
				</div>
				<div class='control-group'>
					<label for="id_celebrante" class='control-label'>
						{{form_eucaristia.celebrante.label}}</label>
					<div class='controls'>
						{{form_eucaristia.celebrante}}
					</div>
					<div class="controls help-text">
						{{form_eucaristia.celebrante.help_text}}</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<input type="submit" value="Enviar" class='btn btn-primary'/>
				<a href="{%url 'eucaristia_list'%}" class='btn btn-primary'>Cancelar</a>

			</div>
		</div>
	</form>


	<!-- Modal para indicar que un usuario ha sid creado-->
	{%include 'modal.html'%}

	{% endblock%}