{% extends 'base.html'%}

{%block extrascript%}
<script src='/static/js/acta.js'></script>

{%endblock%}


{%block title%}Sacramento de la Eucaristia{%endblock%}


{%block content%}


<table id='id_table_eucaristia' class='table table-bordered table-striped'>
	<thead>
		<tr class='alert alert-info'>
			
			<th>Acta</th>
			<th>Eucaristado</th>
			<th>Fecha Nacimiento</th>
			<th>Fecha Sacramento</th>
			<th>Papa</th>
			<th>Mama</th>
			
			
		</tr>
		
	</thead>
	<tbody>
		{% for o in object_list %}
		<tr>
			<td><a href="{%url 'eucaristia_update' pk=o.id%}"> {{o.pagina}}</a></td>
			<td>{{o.feligres.user.first_name}} {{o.feligres.user.last_name}}</td>
			<td id='id_fecha_nacimiento'>{{o.feligres.fecha_nacimiento}}</td>
			<td id='id_fecha_sacramento'>{{o.fecha_sacramento}}</td>
			<td>{{o.feligres.padre.first_name}} {{o.feligres.padre.last_name}}</td>
			<td>{{o.feligres.madre.first_name}} {{o.feligres.madre.last_name}}</td>
		</tr>
		{% endfor %}
	</tbody>

</table>

<a href="{% url 'eucaristia_create' %}" class='btn btn-primary'>Nueva Eucaristia</a>

<div class="pagination">
	<ul>

		{% if page_obj.has_previous %}
		<li><a href="?page={{page_obj.previous_page_number }}">Anterior</a>
			{% endif %}
		</li>

		{%for p in lista%}
		<li><a href="?page={{p}}">{{p}}</a></li>
		{%endfor%}

		<li>
			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
			{% endif %}
		</li>
	</ul>
</div>

{%endblock%}