<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head> 
<style>
@page {
	margin: 1cm;
	margin-bottom: 2.5cm;
	@frame footer {
		-pdf-frame-content: footer;
		bottom: 0cm;
		margin-left: 3cm;
		margin-right: 3cm;
		height: 3cm;
	}
}
</style>   
<body>
	<center>
		
		<h1> 
			{{ "Diocesis de Loja"|upper }}  <br/>
			Parroquia Eclesiastica {{eucaristia.parroquia|upper}} <br/>
			{{"Loja - Ecuador" | upper}} <br/>

			{{"Direccion: "}}{{ eucaristia.parroquia.direccion }} {{"Tel: "}}{{eucaristia.parroquia.direccion.telefono}}<br/><br/>
		</h1>
		{{"Certificado de Primera Comunión"|upper}}<p/></h4></center></h1>
		<h2> <p>El suscrito Párroco de <strong>{{eucaristia.parroquia|upper}}</strong> CERTIFICA:</h2>
		Que en el libro: <strong>{{ eucaristia.libro.numero_libro}}</strong>, pagina: <strong>{{ eucaristia.pagina}}</strong> y con el numero: <strong>{{ eucaristia.numero_acta }}</strong> </br>
		se registra el nombre de: <strong>{{ eucaristia.feligres}}</strong> <br/>
		Nombre del Padre: <strong>{{ eucaristia.feligres.padre}}</strong> <br/>
		Nombre de la Madre: <strong>{{ eucaristia.feligres.madre}}</strong> <br/>
		{%if eucaristia.padrino and eucaristia.madrina%}
		Padrinos: <strong>{{ eucaristia.padrino}}</strong> y <strong>{{ eucaristia.madrina}}</strong> <br/>
		{%endif%}
		{%if eucaristia.padrino and not eucaristia.madrina%}
		Padrino: <strong>{{ eucaristia.padrino}}</strong> <br/>
		{%endif%}
		{%if not eucaristia.padrino and eucaristia.madrina%}
		Madrina: <strong>{{ eucaristia.madrina}}</strong> <br/>
		{%endif%}
		Recibió el Sacramento: <strong>{{eucaristia.fecha_sacramento}}</strong>
		en la iglesia de: <strong>{{ eucaristia.iglesia}}</strong> </p>




		<strong>Loja, {%now "d"%} de {%now "F"%} del {%now "Y"%}</strong><br/><br/><br/>
		

		<table align='center'>
			<tbody>
				<tr>
					<td>
						<p align='center'>
							
							---------------------------------------------------<br/>
							<strong>P.{{cura}}</strong> 
						</p>
					</td>
					<td>
						<p align='center'>
							
							-----------------------------------------<br/>
							<strong>{{"SECRETARIO"}}</strong>
						</p>
						
						


						
					</td>
				</tr>


			</tbody>
		</table>
		Observaciones:<br/>



		<div id="footer">
			<p>Sistema de Gestion Sacramental Ekkelsia - Reporte generado por:{{"Secretario/a"}}</p>
		</div>


	</body>
	</html>